header{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)) , url("Background\ 3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
    color: antiquewhite;
    clip-path: polygon(100% 0, 100% 100%, 0% 80%, 0 100%, 0 0);

   
}
header>nav{
    background-color: rgba(255, 255, 255, 0.488);
    border-radius: 10px;
    margin-bottom: 20px;
}
.navbar-brand{
    transition: 0.5s;
}
.navbar-brand:hover{
    /* transform: rotate(-10deg); */
    transform: scale(1.1);
}
header>div>img{
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(241, 230, 230);
}
header>div>p{
    margin-top: 30px;
}
header>div>p>span{
    font-size: 40px;
    font-weight: bold;
    color: rgb(181, 192, 120);
}
#carouselExampleAutoplaying img{
    filter: brightness(40%);
}
#projects img{
    transition: 1s;
}
#projects img:hover{
    transform: scale(.9);
}

#top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}